/* Accommodation Page Styles */
body, html {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    height: 90vh;
}
.accommodation-container {
    padding: 80px 20px;
    text-align: center;
    background-color: black;
    color: white;
}

.section-title {
    font-size: 3rem;
    font-weight: 300;
    margin: 30px auto;
    margin-bottom: 80px;
}

/* Accommodation Details */
.accommodation-details {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;
}


.detail-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
.detail-card h3 {
    text-align: center; /* Centers text */
    font-size: 2rem; /* Increases font size */
    font-weight: bold; /* Makes text bolder */
    color: yellow; /* Sets text color to yellow */
}



.detail-card p {
    /* position: absolute;
    bottom: 5px;
    left: auto; */
    align-self: center;
    font-size: 1.2rem;
    opacity: 0.8;
    margin-top: 10px;
}

/* Register Section */
.register-section {
    margin-top: 50px;
}

.register-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    background: linear-gradient(45deg, #0EA5E9, #1EAEDB);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    border: 1px solid white;
}

.register-btn:hover {
    background-color: #ff8e53;
    box-shadow: 0 0 90px rgb(0, 94, 255);
}

.register-section p {
    /* margin-top: 20px; */
    font-size: 1.2rem;
    opacity: 0.8;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .accommodation-details {
        flex-direction: column;
        align-items: center;
        margin-bottom: -5px;
        margin-left: 27px;
    }
    
    .section-title {
        font-size: 2.5rem;
        margin-bottom: 70px;
        margin-top: 10px;
    }
    
    .register-section p {
        font-size: 1rem;
    }
}


.accommodation-info {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin: 40px auto;
    width: 70%;
    text-align: justify;
    line-height: 1.6;
}

.accommodation-info h2 {
    color: orange;
    text-align: center;
    margin-bottom: 15px;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .accommodation-info {
        width: 90%;
        padding: 15px;
    }
}
